#-----------------------------
# IDE
#-----------------------------
.idea/*
.vscode/*

#-----------------------------
# Enviroment
#-----------------------------
docker-compose.yml
.env 

#-----------------------------
# Files
#-----------------------------
docker-compose.yml

#-----------------------------
# Directories
#-----------------------------
vendor/*
./node_modules
./storage/logs/*
./keys/*
